In [1]:
import pandas as pd
import numpy as np

In [2]:
USERS_PATH = "cresci-2015/E13/users.csv"
TWEETS_PATH = "cresci-2015/E13/tweets.csv"
PROCESSED_USERS_PATH = "cresci-2015/E13/users_processed.csv"

In [3]:
pd.set_option('display.max_columns', 500)

users_df = pd.read_csv(USERS_PATH)
tweets_df = pd.read_csv(TWEETS_PATH)

In [4]:
users_df.head(n=10)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,url,lang,time_zone,location,default_profile,default_profile_image,geo_enabled,profile_image_url,profile_banner_url,profile_use_background_image,profile_background_image_url_https,profile_text_color,profile_image_url_https,profile_sidebar_border_color,profile_background_tile,profile_sidebar_fill_color,profile_background_image_url,profile_background_color,profile_link_color,utc_offset,protected,verified,description,updated,dataset
0,3610511,Davide Dellacasa,braddd,20370,5470,2385,145,52,Fri Apr 06 10:58:22 +0000 2007,http://braddd.tumblr.com,it,Rome,Roma,NaN,NaN,NaN,http://a0.twimg.com/profile_images/1575057050/...,https://si0.twimg.com/profile_banners/3610511/...,1.0,https://si0.twimg.com/profile_background_image...,0C3E53,https://si0.twimg.com/profile_images/157505705...,F2E195,NaN,FFF7CC,http://a0.twimg.com/profile_background_images/...,BADFCD,FF0000,3600.0,NaN,NaN,Founder of http://www.screenweek.it & http://w...,2015-02-14 10:54:49,E13
1,5656162,Simone Economo,eKoeS,3131,506,381,9,40,Mon Apr 30 15:08:42 +0000 2007,http://www.lineheight.net/,en,Rome,"Rome, Italy",NaN,NaN,NaN,http://a0.twimg.com/profile_images/1901298312/...,NaN,1.0,https://si0.twimg.com/images/themes/theme1/bg.png,333333,https://si0.twimg.com/profile_images/190129831...,FFFFFF,NaN,DDEEF6,http://a0.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,3600.0,NaN,NaN,BSc degree (cum laude) in Computer Engineering...,2015-02-14 10:54:49,E13
2,5682702,tacone,tacone_,4024,264,87,323,16,Tue May 01 11:53:40 +0000 2007,http://t.co/LKrl1dZE,en,Rome,Internets,NaN,NaN,NaN,http://a0.twimg.com/profile_images/1640620850/...,https://si0.twimg.com/profile_banners/5682702/...,1.0,https://si0.twimg.com/profile_background_image...,666666,https://si0.twimg.com/profile_images/164062085...,181A1E,1.0,000000,http://a0.twimg.com/profile_background_images/...,1A1B1F,2FC2EF,3600.0,NaN,NaN,Cogito ergo bestemmio.,2015-02-14 10:54:49,E13
3,6067292,alesaura,alesstar,40586,640,622,1118,32,Tue May 15 16:55:16 +0000 2007,http://alesstar.wordpress.com/,en,Rome,NaN,NaN,NaN,1.0,http://a0.twimg.com/profile_images/2797534662/...,https://si0.twimg.com/profile_banners/6067292/...,1.0,https://si0.twimg.com/images/themes/theme4/bg.gif,3C3940,https://si0.twimg.com/profile_images/279753466...,FFFFFF,NaN,95E8EC,http://a0.twimg.com/images/themes/theme4/bg.gif,0099B9,0099B9,3600.0,NaN,NaN,"Se la vita ti dà sarde, scapocciale!",2015-02-14 10:54:49,E13
4,6015122,Angelo,PerDiletto,2016,62,64,13,0,Sun May 13 19:52:00 +0000 2007,http://www.flickr.com/per_diletto,it,Rome,"iPhone: 44.069630,12.569966",NaN,NaN,1.0,http://a0.twimg.com/profile_images/1073412966/...,NaN,1.0,https://si0.twimg.com/images/themes/theme18/bg...,333333,https://si0.twimg.com/profile_images/107341296...,EEEEEE,NaN,F6F6F6,http://a0.twimg.com/images/themes/theme18/bg.gif,ACDED6,038543,3600.0,NaN,NaN,Je me souviens,2015-02-14 10:54:49,E13
5,6140012,CRISTIAN PAOLINI,crispaol,3603,138,179,53,1,Fri May 18 15:16:20 +0000 2007,NaN,it,Rome,Rome,NaN,NaN,1.0,http://a0.twimg.com/profile_images/2292411750/...,NaN,1.0,https://si0.twimg.com/profile_background_image...,663B12,https://si0.twimg.com/profile_images/229241175...,FFFFFF,1.0,DAECF4,http://a0.twimg.com/profile_background_images/...,C6E2EE,1F98C7,3600.0,NaN,NaN,"Swiper non rubare, Swiper non rubare!",2015-02-14 10:54:49,E13
6,6134312,tmpx,tmpx,1183,128,168,2,5,Fri May 18 10:28:11 +0000 2007,NaN,en,Rome,"Milano, Lombardia, Italia",NaN,NaN,1.0,http://a0.twimg.com/profile_images/654007381/i...,NaN,1.0,https://si0.twimg.com/images/themes/theme14/bg...,333333,https://si0.twimg.com/profile_images/654007381...,EEEEEE,1.0,EFEFEF,http://a0.twimg.com/images/themes/theme14/bg.gif,131516,009999,3600.0,NaN,NaN,I never saw a wild thing sorry for itself.A sm...,2015-02-14 10:54:49,E13
7,6684602,igor,Igor99,6194,1062,1770,597,5,Fri Jun 08 23:55:44 +0000 2007,NaN,it,Rome,NaN,NaN,NaN,1.0,http://a0.twimg.com/profile_images/2935875624/...,NaN,1.0,https://si0.twimg.com/images/themes/theme18/bg...,333333,https://si0.twimg.com/profile_images/293587562...,EEEEEE,NaN,F6F6F6,http://a0.twimg.com/images/themes/theme18/bg.gif,ACDED6,038543,3600.0,NaN,NaN,La vita è quello che accade mentre sei impegna...,2015-02-14 10:54:49,E13
8,7046912,Marco Massarotto,marcomassarotto,10962,23368,958,590,715,Sun Jun 24 07:49:50 +0000 2007,http://marcomassarotto.com,en,Rome,"iPhone: 0.000000,0.000000",NaN,NaN,1.0,http://a0.twimg.com/profile_images/2626681114/...,https://si0.twimg.com/profile_banners/7046912/...,NaN,https://si0.twimg.com/images/themes/theme1/bg.png,000000,https://si0.twimg.com/profile_images/262668111...,9E0C0C,NaN,FFFFFF,http://a0.twimg.com/images/themes/theme1/bg.png,10147D,10147E,3600.0,NaN,NaN,Founder e CEO di http://hagakure.it e autore d...,2015-02-14 10:54:49,E13
9,7470952,Antonio Parisi,personanormale,10947,760,712,693,27,Sat Jul 14 13:31:20 +0000 2007,NaN,it,Rome,Chioggia (VE),NaN,NaN,1.0,http://a0.twimg.com/profile_images/2736744286/...,https://si0.twimg.com/profile_banners/7470952/...,NaN,https://si0.twimg.com/profile_background_image...,E8E5E1,https://si0.twimg.com/profile_images/273674428...,000000,1.0,D8C8BE,http://a0.twimg.com/profile_background_images/...,131516,009999,3600.0,NaN,NaN,"Sono timido come Sushi, pigro come Dado e russ...",2015-02-14 10:54:49,E13

In [5]:
tweets_df.head(n=10)

,created_at,id,text,source,user_id,truncated,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,retweeted_status_id,geo,place,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,timestamp
0,Tue Mar 26 14:46:37 +0000 2013,316561836378030080,The ScreenWeek h15 Daily is out! http://t.co/y...,"<a href=""http://paper.li"" rel=""nofollow"">Paper...",3610511,NaN,0,0,NaN,NaN,NaN,NaN,0,0.0,0.0,0,1,2,2013-03-26 15:46:37
1,Tue Mar 26 13:00:31 +0000 2013,316535134167912449,Sw Daily Top News: http://t.co/nFV9JppRPl - to...,"<a href=""http://tweetedtimes.com"" rel=""nofollo...",3610511,NaN,0,0,NaN,NaN,NaN,NaN,0,0.0,0.0,0,1,0,2013-03-26 14:00:31
2,Tue Mar 26 09:54:28 +0000 2013,316488311562727424,The Davide Dellacasa Daily is out! http://t.co...,"<a href=""http://paper.li"" rel=""nofollow"">Paper...",3610511,NaN,0,0,NaN,NaN,NaN,NaN,0,0.0,0.0,0,1,1,2013-03-26 10:54:28
3,Tue Mar 26 00:21:19 +0000 2013,316344076775587841,Sw Top Story: Planes -- Il Teaser Trailer Uffi...,"<a href=""http://tweetedtimes.com"" rel=""nofollo...",3610511,NaN,0,0,NaN,NaN,NaN,NaN,1,0.0,0.0,0,2,0,2013-03-26 01:21:19
4,Mon Mar 25 14:46:36 +0000 2013,316199441537327104,The ScreenWeek h15 Daily is out! http://t.co/y...,"<a href=""http://paper.li"" rel=""nofollow"">Paper...",3610511,NaN,0,0,NaN,NaN,NaN,NaN,0,0.0,0.0,0,1,3,2013-03-25 15:46:36
5,Mon Mar 25 13:02:28 +0000 2013,316173237342052354,Sw Daily Top News: http://t.co/nFV9JppRPl - to...,"<a href=""http://tweetedtimes.com"" rel=""nofollo...",3610511,NaN,0,0,NaN,NaN,NaN,NaN,0,0.0,0.0,0,1,0,2013-03-25 14:02:28
6,Mon Mar 25 09:54:22 +0000 2013,316125898338340864,The Davide Dellacasa Daily is out! http://t.co...,"<a href=""http://paper.li"" rel=""nofollow"">Paper...",3610511,NaN,0,0,NaN,NaN,NaN,NaN,0,0.0,0.0,0,1,1,2013-03-25 10:54:22
7,Mon Mar 25 06:46:14 +0000 2013,316078554699923456,Sw Top Story: Esordio da 45 milioni di dollari...,"<a href=""http://tweetedtimes.com"" rel=""nofollo...",3610511,NaN,0,0,NaN,NaN,NaN,NaN,0,0.0,0.0,0,2,0,2013-03-25 07:46:14
8,Sun Mar 24 19:02:54 +0000 2013,315901554953699329,Sw Top Story: Box Office – I Croods volano in ...,"<a href=""http://tweetedtimes.com"" rel=""nofollo...",3610511,NaN,0,0,NaN,NaN,NaN,NaN,0,0.0,0.0,0,2,0,2013-03-24 20:02:54
9,Sun Mar 24 14:46:38 +0000 2013,315837061217271809,The ScreenWeek h15 Daily is out! http://t.co/y...,"<a href=""http://paper.li"" rel=""nofollow"">Paper...",3610511,NaN,0,0,NaN,NaN,NaN,NaN,0,0.0,0.0,0,1,1,2013-03-24 15:46:38

In [6]:
users = users_df.loc[:, ["id", "verified", "followers_count", "favourites_count", "friends_count"]]
users["friend_follower_ratio"] = users["friends_count"] / users["followers_count"]

In [7]:
users.head(n=10)

,id,verified,followers_count,favourites_count,friends_count,friend_follower_ratio
0,3610511,NaN,5470,145,2385,0.436015
1,5656162,NaN,506,9,381,0.752964
2,5682702,NaN,264,323,87,0.329545
3,6067292,NaN,640,1118,622,0.971875
4,6015122,NaN,62,13,64,1.032258
5,6140012,NaN,138,53,179,1.297101
6,6134312,NaN,128,2,168,1.312500
7,6684602,NaN,1062,597,1770,1.666667
8,7046912,NaN,23368,590,958,0.040996
9,7470952,NaN,760,693,712,0.936842

In [8]:
users["mentions"] = tweets_df["num_mentions"].groupby(tweets_df["user_id"]).mean().reset_index(drop=True)
users["hashtags"] = tweets_df["num_hashtags"].groupby(tweets_df["user_id"]).mean().reset_index(drop=True)
users["urls"] = tweets_df["num_urls"].groupby(tweets_df["user_id"]).mean().reset_index(drop=True)
users["retweets"] = tweets_df["retweet_count"].groupby(tweets_df["user_id"]).mean().reset_index(drop=True)
users["favorites"] = tweets_df["favorite_count"].groupby(tweets_df["user_id"]).mean().reset_index(drop=True)

In [9]:
users.head(n=10)

,id,verified,followers_count,favourites_count,friends_count,friend_follower_ratio,mentions,hashtags,urls,retweets,favorites
0,3610511,NaN,5470,145,2385,0.436015,0.498855,0.150474,0.890415,8.992149,0.021590
1,5656162,NaN,506,9,381,0.752964,0.656650,0.190537,0.061061,14.747123,0.043798
2,5682702,NaN,264,323,87,0.329545,0.791640,0.158961,0.164978,35.857188,0.121596
3,6067292,NaN,640,1118,622,0.971875,0.372763,0.110835,0.260437,27.972167,0.001988
4,6015122,NaN,62,13,64,1.032258,0.509684,0.111362,0.195610,19.066172,0.088767
5,6140012,NaN,138,53,179,1.297101,0.489434,0.148774,0.354184,36.119189,0.013525
6,6134312,NaN,128,2,168,1.312500,0.776147,0.739931,0.054324,9.334998,0.072120
7,6684602,NaN,1062,597,1770,1.666667,0.332689,0.155061,0.092843,5.470019,0.885235
8,7046912,NaN,23368,590,958,0.040996,1.537745,0.536781,0.289431,14.017668,0.361066
9,7470952,NaN,760,693,712,0.936842,1.053045,0.431262,0.178280,15.014752,0.110169

In [10]:
for index, uid in enumerate(users["id"]):
    user_tweets = tweets_df[tweets_df["user_id"] == uid]
    unique_places = user_tweets["place"].value_counts()[user_tweets["place"].value_counts() == 1].shape[0]
    users.loc[index, "unique_places"] = unique_places

In [11]:
users.head(n=10)

,id,verified,followers_count,favourites_count,friends_count,friend_follower_ratio,mentions,hashtags,urls,retweets,favorites,unique_places
0,3610511,NaN,5470,145,2385,0.436015,0.498855,0.150474,0.890415,8.992149,0.021590,0.0
1,5656162,NaN,506,9,381,0.752964,0.656650,0.190537,0.061061,14.747123,0.043798,0.0
2,5682702,NaN,264,323,87,0.329545,0.791640,0.158961,0.164978,35.857188,0.121596,0.0
3,6067292,NaN,640,1118,622,0.971875,0.372763,0.110835,0.260437,27.972167,0.001988,19.0
4,6015122,NaN,62,13,64,1.032258,0.509684,0.111362,0.195610,19.066172,0.088767,61.0
5,6140012,NaN,138,53,179,1.297101,0.489434,0.148774,0.354184,36.119189,0.013525,0.0
6,6134312,NaN,128,2,168,1.312500,0.776147,0.739931,0.054324,9.334998,0.072120,8.0
7,6684602,NaN,1062,597,1770,1.666667,0.332689,0.155061,0.092843,5.470019,0.885235,0.0
8,7046912,NaN,23368,590,958,0.040996,1.537745,0.536781,0.289431,14.017668,0.361066,23.0
9,7470952,NaN,760,693,712,0.936842,1.053045,0.431262,0.178280,15.014752,0.110169,6.0

In [12]:
for index, uid in enumerate(users["id"]):
    tweets_hour = []
    user_tweets = tweets_df[tweets_df["user_id"] == uid].sort_values(by="timestamp", ascending=False)
    user_tweets.reset_index(inplace=True, drop=True)
    S = pd.to_datetime(user_tweets["timestamp"])
    for key, values in user_tweets.groupby([(S - S[0]).astype("timedelta64[h]")]):
        tweets_hour.append(len(values))
        
    tweets_hour = np.array(tweets_hour)
    users.loc[index, "tweet_rate_variance"] = np.var(tweets_hour)

In [13]:
users.head(n=10)

,id,verified,followers_count,favourites_count,friends_count,friend_follower_ratio,mentions,hashtags,urls,retweets,favorites,unique_places,tweet_rate_variance
0,3610511,NaN,5470,145,2385,0.436015,0.498855,0.150474,0.890415,8.992149,0.021590,0.0,4.687284
1,5656162,NaN,506,9,381,0.752964,0.656650,0.190537,0.061061,14.747123,0.043798,0.0,1.132162
2,5682702,NaN,264,323,87,0.329545,0.791640,0.158961,0.164978,35.857188,0.121596,0.0,3.101812
3,6067292,NaN,640,1118,622,0.971875,0.372763,0.110835,0.260437,27.972167,0.001988,19.0,2.666466
4,6015122,NaN,62,13,64,1.032258,0.509684,0.111362,0.195610,19.066172,0.088767,61.0,0.289726
5,6140012,NaN,138,53,179,1.297101,0.489434,0.148774,0.354184,36.119189,0.013525,0.0,7.173010
6,6134312,NaN,128,2,168,1.312500,0.776147,0.739931,0.054324,9.334998,0.072120,8.0,0.291531
7,6684602,NaN,1062,597,1770,1.666667,0.332689,0.155061,0.092843,5.470019,0.885235,0.0,26.906951
8,7046912,NaN,23368,590,958,0.040996,1.537745,0.536781,0.289431,14.017668,0.361066,23.0,5.294826
9,7470952,NaN,760,693,712,0.936842,1.053045,0.431262,0.178280,15.014752,0.110169,6.0,8.338374

In [14]:
users.to_csv(PROCESSED_USERS_PATH)