In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from imblearn.over_sampling import RandomOverSampler

In [2]:
human_files = [
    "cresci-2017/datasets_full/genuine_accounts/users_processed.csv",
    "cresci-2015/E13/users_processed.csv",
    "cresci-2015/TFP/users_processed.csv"
]
bot_files = [
    "cresci-2017/datasets_full/social_spambots_1/users_processed.csv",
    "cresci-2017/datasets_full/social_spambots_2/users_processed.csv",
    "cresci-2017/datasets_full/social_spambots_3/users_processed.csv",
    "cresci-2017/datasets_full/traditional_spambots_1/users_processed.csv",
]

human_dfs = []
for f in human_files:
    human_dfs.append(pd.read_csv(f))
human_df = pd.concat(human_dfs)

bot_dfs = []
for f in bot_files:
    bot_dfs.append(pd.read_csv(f))
bot_df = pd.concat(bot_dfs)

In [3]:
bot_df["bot"] = 1
bot_df.head(n=10)

,Unnamed: 0,id,verified,followers_count,favourites_count,friends_count,friend_follower_ratio,mentions,hashtags,urls,retweets,favorites,unique_places,tweet_rate_variance,bot
0,0,24858289,NaN,22,1,40,1.818182,0.054805,0.023431,0.809373,0.004369,0.003177,3.0,1.621616,1
1,1,33212890,NaN,12561,16358,3442,0.274023,1.093945,1.070537,0.334894,11.710050,9.858302,22.0,1.180709,1
2,2,39773427,NaN,600,14,755,1.258333,0.124378,0.283271,0.629664,148.374378,0.033893,0.0,6.857251,1
3,3,57007623,NaN,398,11,350,0.879397,0.693903,0.592386,0.148251,52.967193,0.014237,0.0,1.764670,1
4,4,63258466,NaN,413,162,405,0.980630,0.360825,0.196813,0.132146,31.344267,0.260544,5.0,3.640460,1
5,5,96435556,NaN,134,55,401,2.992537,0.015518,0.003104,0.885164,0.028554,0.003724,2.0,11.799930,1
6,6,108992875,NaN,337,655,630,1.869436,0.247359,0.720012,0.099441,199.891548,0.128341,6.0,4.228038,1
7,7,177671726,NaN,28,38,105,3.750000,0.674157,0.352060,0.161049,22.430712,0.187266,0.0,1.156857,1
8,8,223945761,NaN,2617,0,52,0.019870,0.000000,0.000000,1.032348,0.225194,0.288025,0.0,3.687786,1
9,9,237177357,NaN,1561,0,2001,1.281871,0.003986,0.076310,0.025057,1.992027,0.502278,0.0,1.941863,1

In [4]:
human_df["bot"] = 0
human_df.head(n=10)

,Unnamed: 0,id,verified,followers_count,favourites_count,friends_count,friend_follower_ratio,mentions,hashtags,urls,retweets,favorites,unique_places,tweet_rate_variance,bot
0,0,191839658,NaN,2248,60304,981,0.436388,1.112989,0.368388,0.297653,75.970266,0.524570,0.0,180.733769,0
1,1,2157382005,NaN,641,1568,1066,1.663027,0.711965,0.360512,0.163386,283.785067,0.407060,0.0,19.994735,0
2,2,1947320929,NaN,1042,19012,2000,1.919386,0.959177,0.040199,0.123715,32.989716,0.162667,0.0,126.016516,0
3,3,1733095801,NaN,337,1407,256,0.759644,0.682127,0.269944,0.461657,199.153370,0.085343,0.0,3.911879,0
4,4,21959183,NaN,1948,3,2096,1.075975,0.782380,0.051932,0.063988,43.263060,0.513756,0.0,1.374659,0
5,5,2291421004,NaN,552,4029,787,1.425725,1.205224,0.088308,0.105100,64.527363,0.421642,0.0,10.976547,0
6,6,2337494094,NaN,223,864,166,0.744395,0.830142,0.200741,0.362878,59.376776,0.198579,0.0,1.432099,0
7,7,225241810,NaN,303,7304,325,1.072607,0.714058,0.250799,0.143770,15.734824,0.039936,0.0,9.189536,0
8,8,585912212,NaN,435,676,320,0.735632,1.082995,0.329173,0.152574,72.304524,0.268331,0.0,10.654456,0
9,9,2320414572,NaN,182,136,117,0.642857,0.845455,0.125392,0.328527,485.062696,0.132915,1.0,5.069934,0

In [5]:
dataset_df = pd.concat([human_df, bot_df])
dataset_df.reset_index(drop=True, inplace=True)
dataset_df.head(n=10)

,Unnamed: 0,id,verified,followers_count,favourites_count,friends_count,friend_follower_ratio,mentions,hashtags,urls,retweets,favorites,unique_places,tweet_rate_variance,bot
0,0,191839658,NaN,2248,60304,981,0.436388,1.112989,0.368388,0.297653,75.970266,0.524570,0.0,180.733769,0
1,1,2157382005,NaN,641,1568,1066,1.663027,0.711965,0.360512,0.163386,283.785067,0.407060,0.0,19.994735,0
2,2,1947320929,NaN,1042,19012,2000,1.919386,0.959177,0.040199,0.123715,32.989716,0.162667,0.0,126.016516,0
3,3,1733095801,NaN,337,1407,256,0.759644,0.682127,0.269944,0.461657,199.153370,0.085343,0.0,3.911879,0
4,4,21959183,NaN,1948,3,2096,1.075975,0.782380,0.051932,0.063988,43.263060,0.513756,0.0,1.374659,0
5,5,2291421004,NaN,552,4029,787,1.425725,1.205224,0.088308,0.105100,64.527363,0.421642,0.0,10.976547,0
6,6,2337494094,NaN,223,864,166,0.744395,0.830142,0.200741,0.362878,59.376776,0.198579,0.0,1.432099,0
7,7,225241810,NaN,303,7304,325,1.072607,0.714058,0.250799,0.143770,15.734824,0.039936,0.0,9.189536,0
8,8,585912212,NaN,435,676,320,0.735632,1.082995,0.329173,0.152574,72.304524,0.268331,0.0,10.654456,0
9,9,2320414572,NaN,182,136,117,0.642857,0.845455,0.125392,0.328527,485.062696,0.132915,1.0,5.069934,0

In [6]:
dataset_df = dataset_df.iloc[:, 1:]
dataset_df.head(n=10)

,id,verified,followers_count,favourites_count,friends_count,friend_follower_ratio,mentions,hashtags,urls,retweets,favorites,unique_places,tweet_rate_variance,bot
0,191839658,NaN,2248,60304,981,0.436388,1.112989,0.368388,0.297653,75.970266,0.524570,0.0,180.733769,0
1,2157382005,NaN,641,1568,1066,1.663027,0.711965,0.360512,0.163386,283.785067,0.407060,0.0,19.994735,0
2,1947320929,NaN,1042,19012,2000,1.919386,0.959177,0.040199,0.123715,32.989716,0.162667,0.0,126.016516,0
3,1733095801,NaN,337,1407,256,0.759644,0.682127,0.269944,0.461657,199.153370,0.085343,0.0,3.911879,0
4,21959183,NaN,1948,3,2096,1.075975,0.782380,0.051932,0.063988,43.263060,0.513756,0.0,1.374659,0
5,2291421004,NaN,552,4029,787,1.425725,1.205224,0.088308,0.105100,64.527363,0.421642,0.0,10.976547,0
6,2337494094,NaN,223,864,166,0.744395,0.830142,0.200741,0.362878,59.376776,0.198579,0.0,1.432099,0
7,225241810,NaN,303,7304,325,1.072607,0.714058,0.250799,0.143770,15.734824,0.039936,0.0,9.189536,0
8,585912212,NaN,435,676,320,0.735632,1.082995,0.329173,0.152574,72.304524,0.268331,0.0,10.654456,0
9,2320414572,NaN,182,136,117,0.642857,0.845455,0.125392,0.328527,485.062696,0.132915,1.0,5.069934,0

In [7]:
dataset_df[dataset_df["verified"] == 1]

,id,verified,followers_count,favourites_count,friends_count,friend_follower_ratio,mentions,hashtags,urls,retweets,favorites,unique_places,tweet_rate_variance,bot
87,18989002,1.0,27856,291,756,0.027140,0.917389,0.233911,0.191522,160.465037,2.435644,0.0,3.467901,0
148,157158598,1.0,1415,336,2036,1.438869,0.824883,0.060653,0.063764,568.782893,0.080249,9.0,3.503352,0
304,14791386,1.0,4432,2715,2672,0.602888,0.655957,0.123827,0.067509,377.681588,0.140794,0.0,4.921571,0
627,226773156,1.0,1846,319,776,0.420368,0.712451,0.104743,0.070158,701.920455,0.170455,1.0,2.096831,0
728,15448383,1.0,986837,1937,1111,0.001126,0.888499,0.187237,0.120617,146.677419,0.213184,0.0,20.249946,0
758,18459813,1.0,12875,1264,392,0.030447,0.676575,0.033926,0.178352,1397.187399,0.329241,0.0,27.499886,0
882,14980820,1.0,114727,1746,1362,0.011872,0.658220,0.041495,0.056066,480.059867,0.879949,1.0,21.090475,0

In [8]:
dataset_df["verified"] = dataset_df["verified"].fillna(0)
dataset_df["friend_follower_ratio"] = dataset_df["friend_follower_ratio"].fillna(1)
dataset_df.replace(np.inf, 100, inplace=True)
dataset_df.head(n=10)

,id,verified,followers_count,favourites_count,friends_count,friend_follower_ratio,mentions,hashtags,urls,retweets,favorites,unique_places,tweet_rate_variance,bot
0,191839658,0.0,2248,60304,981,0.436388,1.112989,0.368388,0.297653,75.970266,0.524570,0.0,180.733769,0
1,2157382005,0.0,641,1568,1066,1.663027,0.711965,0.360512,0.163386,283.785067,0.407060,0.0,19.994735,0
2,1947320929,0.0,1042,19012,2000,1.919386,0.959177,0.040199,0.123715,32.989716,0.162667,0.0,126.016516,0
3,1733095801,0.0,337,1407,256,0.759644,0.682127,0.269944,0.461657,199.153370,0.085343,0.0,3.911879,0
4,21959183,0.0,1948,3,2096,1.075975,0.782380,0.051932,0.063988,43.263060,0.513756,0.0,1.374659,0
5,2291421004,0.0,552,4029,787,1.425725,1.205224,0.088308,0.105100,64.527363,0.421642,0.0,10.976547,0
6,2337494094,0.0,223,864,166,0.744395,0.830142,0.200741,0.362878,59.376776,0.198579,0.0,1.432099,0
7,225241810,0.0,303,7304,325,1.072607,0.714058,0.250799,0.143770,15.734824,0.039936,0.0,9.189536,0
8,585912212,0.0,435,676,320,0.735632,1.082995,0.329173,0.152574,72.304524,0.268331,0.0,10.654456,0
9,2320414572,0.0,182,136,117,0.642857,0.845455,0.125392,0.328527,485.062696,0.132915,1.0,5.069934,0

In [9]:
X = np.array(dataset_df.iloc[:, 1:-1])
X = (X - X.mean(axis=0)) / X.std(axis=0)
y = dataset_df.iloc[:, -1]

In [10]:
print(pd.value_counts(pd.Series(y), normalize=True))

1    0.661224
0    0.338776
Name: bot, dtype: float64

In [11]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=1/5, random_state=42, stratify=y)

In [12]:
print(pd.value_counts(pd.Series(y_train), normalize=True))
print(pd.value_counts(pd.Series(y_val), normalize=True))

1    0.661214
0    0.338786
Name: bot, dtype: float64
1    0.661263
0    0.338737
Name: bot, dtype: float64

In [13]:
np.save("X_train.npy", X_train)
np.save("y_train.npy", y_train)
np.save("X_val.npy", X_val)
np.save("y_val.npy", y_val)